/* Styles for Malu's English Course */

/*fonts*/

@font-face {
    font-family: "Lobster";
    src: url("LobsterTwo-BoldItalic.ttf");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("RobotoSlab-Bold.ttf");
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    background: #ABD4D4; 
    margin: 0;
    font-size: 1.3em;
} 

body > header {
    background: #fff;
    margin: 0;
}

body > header h1 {
    font-family: "Lobster", serif;
    margin: 0;
    font-size: 3em;
    padding: 1em;
}

#topmenu {
   margin: 0;
   padding: 0;
   background: #11FFF5;
}

#topmenu ul {
    margin: 0;
    padding: 0;
}

#topmenu ul li {
    display: inline-block;
    margin: 0;
}

#topmenu a, #topmenu a:visited {
    display: block;
    color: #000;
    padding: 1em;
}

#topmenu a:hover {
    background: #0E4EA2;
    color: #FFF;
    text-decoration: none;
}

#splash {
    background-image: url("Osaka.jpg");
    background-position: 0 50%;
    margin: 0;
    padding: 150px 0;
}

#splash h1 {
    font-family: "Lobster", sans-serif;
    padding: 1em;
    font-size: 2em;
    background: rgba(255,255,255,.85);
    margin: 0;
}

#main {
    margin: 0;
    padding: 1em 50px;
    background: #DEE;
}

#main h1,
#main h2, 
#main h3 {
    font-family: "Roboto Slab";
}

body > footer {
    margin: 0;
    padding: 30px 0;
    text-align: center;
}

/* Cosmetics: Links */

a {
    color: #0AA804;
    text-decoration: none;
}

a:visited {
    color: #0AA804;
    text-decoration: none;
}

a:hover {
    color: #7AD92A;
    text-decoration: underline;
}

/* Cosmetics: Images */

img {
    display: block;
    border: 3px solid #009D10;
}

.rightFloat {
    float: right;
    margin-left: 15px;
}

.leftFloat {
    float: left;
    margin-right: 15px;
}
